@use "mixins" as m;

button{
    border: none;
    background: var(--white);
    cursor: pointer;
}

/* =-=-=-=-=-=-=-=-=-= OTHERS =-=-=-=-=-=-=-=-=-= */
.cart-amount{
    position: absolute;
    top: 0;
    right: 0;

    @include m.flex-center;

    width: 20px;
    height: 20px;
    
    background: var(--pink-500);
    color: var(--white);

    font-size: 15px;
    font-weight: bold;
    border-radius: var(--radius-m);
}


.regular-details{
    position: relative;

    summary{ cursor: pointer; }
    
    nav{
        position: absolute;
        top: 50%;
        left: -50px;
        transform: translateX(-60%);

        display: flex;
        flex-direction: column;

        background: var(--white);
        box-shadow: 0px 0px 10px var(--shadow);

        border-radius: var(--radius);

        a{
            padding: 0.5em;
            font-size: 1em;

            &:hover{
                background: var(--pink-200);
                color: var(--pink-500);
            }
        }
    }
}


.nav-link{
    position: relative;
    width: fit-content;
    height: fit-content;

    @include m.flex-center;
    flex-direction: column;
    gap: 0em;

    .icon-bg{
        @include m.flex-center;
        padding: 0.3em 1em;
        border-radius: var(--radius-lg);

        color: var(--pink-150);
    }

    .label{ font-size: 0.75em;  }

    &:hover, &.selected{
        .icon-bg{ background: var(--pink-200); }

        .icon-svg, p{ color: var(--pink-500)}
    }
}
.nav-link.outer{ flex-direction: column-reverse; }


/* =-=-=-=-=-=-=-=-=-= TOGGLE THEME =-=-=-=-=-=-=-=-=-= */
.toggle-theme.regular{
    --size: 20px;

    position: relative;

    display: flex;

    width: 100%;
    max-width: 120px;
    padding: 0.3em;

    background: var(--white);
    box-shadow: 0px 0px 10px var(--light-shadow);
    border-radius: var(--radius-lg);

    cursor: pointer;

    .selected-bg{
        position: absolute;
        top: 50%;
        left: 0.3em;

        width: calc(50% - 0.3em);
        height: calc(100% - 0.5em);

        transform: translateY(-50%) translateX(0);

        background: var(--pink-150);
        border-radius: var(--radius-lg);

        z-index: 0;

        &.outer{ transform: translateY(-50%) translateX(100%); }
    }

    .icon-bg{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50%;
        
        z-index: 1;

        &.active .icon-svg{ color: var(--pink-500); }

        .icon-svg{ 
            width: var(--size); 
            height: calc(var(--size) + 0.5em);
        }
    }

    .toggle-icon{ 
        width: var(--size); 
        height: calc(var(--size) + 0.5em);
    }

    &.desktop{
        display: none;
        @include m.respond(desktop){ display: inherit; }
    }
}

.toggle-theme.outer{
    @include m.flex-center;
    width: fit-content;
    height: fit-content;
    padding: 0.5em;

    border-radius: var(--radius-sm);
    cursor: pointer;

    .toggle-icon{
        display: none;

        &.active{ display: block; }
    }

    &:hover{
        background: var(--pink-200);

        .toggle-icon{ color: var(--pink-500);}
    }
}

/* =-=-=-=-=-=-=-=-=-= REGULAR BUTTON =-=-=-=-=-=-=-=-=-= */
.regular-btn{
    padding: 1em;

    background: linear-gradient(to left, var(--pink-400), var(--pink-500) 80%);
    background-size: 200% 100%;
    background-position: left;
    border-radius: var(--radius-sm);
    border: none;

    color: var(--pink-150);
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    &:hover{
        background-position: right;
        box-shadow: inset 0px 0px 10px var(--darker-shadow);
    }
}


/* =-=-=-=-=-=-=-=-=-= BACK BUTTON =-=-=-=-=-=-=-=-=-= */
.back-button{
    @include m.flex-center;
    justify-content: start;
    gap: 0.3em;

    width: fit-content;

    font-weight: bold;
    cursor: pointer;

    &:hover{
        span, svg{ color: var(--pink-400); }
    }

    span, svg{ color: var(--pink-500); }
}


/* =-=-=-=-=-=-=-=-=-= ICONS =-=-=-=-=-=-=-=-=-= */
.icon-svg{
    color: var(--pink-850);
}

.icon-wrapper{
    position: relative;

    /* --size: 50px; (EXAMPLE)*/
    width: var(--size, 40px);
    height: var(--size, 40px);

    @include m.respond(desktop){
        width: var(--size, 35px);
        height: var(--size, 35px);
    }

    .icon-bg,
    .icon-svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: var(--size);
        height: var(--size);
    }

    .icon-bg{ color: var(--white); }

    .icon-svg{
        width: calc(var(--size) - 1em);
        height: calc(var(--size) - 1em);
    }
}

.icon-wrapper.hover:hover{
    .icon-bg{ color: var(--pink-150); }
    
    .icon-svg{ color: var(--pink-500); }
}

.icon-btn{
    @include m.flex-center;

    padding: 0.5em;
    width: fit-content;
    height: fit-content;

    border-radius: var(--radius);

    &:hover, &:focus-within{
        background: var(--pink-250);

        svg{ color: var(--pink-500); }
    }
}
.icon-btn.outer-color{
    background: var(--pink-500);

    &, svg{ color: var(--pink-150);}

    &:hover { background: var(--pink-450) }
}


/* =-=-=-=-=-=-=-=-=-= INPUTS =-=-=-=-=-=-=-=-=-=  */
input, select{
    width: 100%;
    
    border: none;
    background: none;

    padding: 1em;
    border-radius: var(--radius);
}
select{ cursor: pointer; }

.regular-input-box{
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    border-bottom: 1px solid var(--pink-300);

    label{
        font-weight: 500;
        color: var(--pink-700);
    }

    input, select{
        color: var(--pink-800);
        font-weight: bold;

        &::placeholder{ 
            color: var(--pink-300); 
            font-weight: bold; 
        }
    }

    &:hover, &:focus-within{
        input, select{ background: var(--pink-150); }
    }
}

.outer-input-box{
    display: flex;
    align-items: center;
    gap: 0.5em;

    background: var(--white);
    border-radius: var(--radius);

    label{
        @include m.flex-center;
        padding-inline: 0.5em;
        border-right: 1px solid var(--pink-700);  

        svg{ color: var(--pink-700); }
    }

    input{
        color: var(--pink-800);
        font-weight: bold;

        &::placeholder{
            color: var(--pink-300); 
            font-weight: bold; 
        }
    }

    &:focus-visible, &:focus-within, &:hover{
        background: var(--pink-200);
    }
}


/* =-=-=-=-=-=-=-=-=-=  DARK MODE =-=-=-=-=-=-=-=-=-= */
.dark-mode{
    .cart-amount{ background: var(--pink-500); }

    .regular-details{
        nav{
            background: var(--pink-900);

            a{
                &:hover{
                    background: var(--pink-850);
                    color: var(--pink-350);
                }
            }
        }
    }

    .nav-link{
        &:hover, &.selected{
            .icon-bg{ background: var(--pink-950); }
            .icon-svg, p{ color: var(--pink-350); }
        }
    }

    .toggle-theme.regular{
        background: var(--pink-900);

        .selected-bg{ background: var(--pink-950); }

        .icon-bg{
            &.active .icon-svg{ color: var(--pink-350); }
        }
    }

    .toggle-theme.outer{
        &:hover{
            background: var(--pink-950);

            .toggle-icon{ color: var(--pink-350); }
        }
    }

    .icon-wrapper{
        .icon-bg{ color: var(--pink-900); }
    }

    .icon-wrapper.hover:hover{
        .icon-bg{ color: var(--pink-950); }
        
        .icon-svg{ color: var(--pink-350); }
    }

    .back-button{
        &:hover{
            span, svg{ color: var(--pink-300); }
        }

        span, svg{ color: var(--pink-350); }
    }

    .regular-btn{
        background: linear-gradient(to left, var(--pink-400), var(--pink-450) 70%);
        background-size: 200% 100%;
        background-position: left;

        &:hover{ background-position: right }
    }

    .regular-input-box{
        border-color: var(--pink-700);
        
        label{
            color: var(--pink-300);
        }

        input, select{
            color: var(--pink-300);
            &::placeholder{ color: var(--pink-700); }
        }

        &:hover, &:focus-within{
            input, select{ background: var(--pink-950); }
        }
    }

    .outer-input-box{
        background: var(--pink-900);

        label{
            border-color: var(--pink-700);  

            svg{ color: var(--pink-700); }
        }

        input{
            color: var(--pink-300);

            &::placeholder{ color: var(--pink-700); }
        }

        &:focus-visible, &:focus-within, &:hover{ background: var(--pink-800); }
    }

    .icon-btn{
        background: var(--pink-900);

        &:hover, &:focus-within{
            background: var(--pink-850);

            svg{ color: var(--pink-350); }
        }
    }
    .icon-btn.outer-color{
        background: var(--pink-850);

        &, svg{ color: var(--pink-150);}

        &:hover { background: var(--pink-900) }
    }
}