@use "variables" as *;

@mixin respond($size) {
    @if ($size == mobile){
        @media (min-width: $mobile){ @content; }
    }
    @else if ($size == tablet){
        @media (min-width: $table){ @content; }
    }
    @else if($size == desktop){
        @media (min-width: $desktop){ @content; }
    }
    @else{
        @media (min-width: $desktop_outer){ @content; }
    }

    @media (min-width: $size){ @content; }
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}