@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Delius+Swash+Caps&family=Quicksand:wght@300..700&display=swap');

$default-time: 0.2s;

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop_outer: 1500px;

:root{
    --font-style: "Delius Swash Caps", "cursive";
    --font-serif: "Bricolage Grotesque", "serif";
    --font-sans: "Quicksand", "sans-serif";

    --radius: 0.5em;
    --radius-sm: var(--radius);
    --radius-m: calc(var(--radius) + 1em);
    --radius-lg: calc(var(--radius) + 3em);
    --radius-xg: calc(var(--radius) + 5em);

    --black: #000000;
    --white: #FFFFFF;
    
    --light-shadow: #0000000c;
    --shadow: #00000026;
    --darker-shadow: #0000004d;

    --pink-950: #271d21;
    --pink-950-outer: #33272c53;
    --pink-900: #342329;
    --pink-850: #583F48;
    --pink-800: #705861;
    --pink-700: #A17F8C;
    --pink-500: #89475F;
    --pink-450: #AC5373;
    --pink-400: #C8809A;
    --pink-350: #FBB2C8;
    --pink-300: #E4D1D8;
    --pink-250: #E8DCE0;
    --pink-200: #EFE6EA;
    --pink-150: #F5EFEF;
    --pink-150-outer: #f5efef53;

    --red-400: #E04E4E;
    --red-400-outer: #e04e4e20;
    --red-300: #E08585;

    --cyan-400: #308D97;
    --cyan-400-outer: #308d9720;
    --cyan-300: #8BD6DE;

    --time: #{$default-time};
}

