@use "mixins" as m;
@use "variables";
@use "buttons";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: var(--font-sans);

    transition: var(--time, 0.2s) linear;
}

body{
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1em;

    min-height: 100dvh;
    max-width: 2200px;
    margin-inline: auto;

    background: var(--pink-150);
    color: var(--pink-850);

    @include m.respond(desktop){ padding: 1em; }
}

a{
    text-decoration: none;
    color: inherit;
}

li{ list-style-type: none; }

svg{
    width: 30px;
    height: 30px;
}

abbr{ text-decoration: none; }

img{ width: 100px; }

.dazzles-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100dvw;
    height: 100dvh;

    background: var(--pink-950-outer);

    transition-timing-function: ease;
    z-index: 1;

    &.open{ display: block; }
}

.horizontal-line{
    height: 3px;
    width: calc(100% - 1em);
    margin: 2em auto;

    background: linear-gradient(to left, transparent, var(--pink-300), transparent);
}

.warning{
    position: fixed;
    top: 1em;
    right: 1em;

    @include m.flex-center;
    gap: 0.5em;

    padding: 0.5em;
    width: clamp(0px, 90dvw, 500px);

    border-left: 4px solid var(--cyan-400);
    background: var(--cyan-400-outer);
    
    font-size: 0.9em;
    z-index: 2;
    cursor: pointer;

    &, svg{ color: var(--cyan-400); }

    svg{ min-width: 30px; }

    &.error{
        border-color: var(--red-400);
        background: var(--red-400-outer);

        &, svg{ color: var(--red-400); }
    }
}

.regular-form{
    display: flex;
    flex-direction: column;
    gap: 1em;

    .wrap{
        display: grid;
        grid-template-columns: auto 30%;
        align-items: center;
        gap: 0.5em;
    }
}


.mobile{
    @include m.respond(desktop){ display: none !important; }
}

.inactive{ display: none; }

.desktop{
    display: none;
    @include m.respond(desktop){ display: inherit; }
}



/* =-=-=-=-=-=-=-=-=-= DARK MODE =-=-=-=-=-=-=-=-=-= */
.dark-mode{
    background: var(--pink-950);
    color: var(--pink-200);    

    .icon-svg{ color: var(--pink-200);}

    .horizontal-line{ background: linear-gradient(to left, transparent, var(--pink-800), transparent); }
}


/* =-=-=-=-=-=-=-=-=-= ANIMATIONS =-=-=-=-=-=-=-=-=-= */
.fade-in{
    animation: fade-in 0.5s linear;
}

.fade-out{
    animation: fade-out 0.5s linear;
}

@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.rise-above{
    animation: rise-above var(--time-outer, 0.4s) ease-in;
}

@keyframes rise-above{
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}