@use "mixins" as m;
@use "variables";

.hero{
    max-width: clamp(0px, calc(100% - 15vw), 1350px);
    min-height: 80dvh;
    max-height: 1000px;

    margin-inline: auto;

    @include m.flex-center;
    flex-direction: column;
    gap: 2em;

    @include m.respond(tablet){ flex-direction: row }

    @include m.respond(desktop){ justify-content: space-between  }

    .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        @include m.respond(desktop){ max-width: clamp(0px, calc(100% - 10vw), 500px) }
        
        h1, span{
            font-weight: normal;
            font-family: var(--font-style);
        }

        h1{ font-size: clamp(3em, 4vw, 5em); }

        p{ font-size: clamp(1em, 2vw, 1.2em); }

        span{ color: var(--pink-500); }

        .regular-btn{
            width: 100%;
            @include m.respond(desktop){ width: 50%; }
        }
    }

    .image{
        display: flex;
        flex-direction: column;
        gap: 1em;

        width: 100%;
        max-width: 480px;
        padding: 1em;

        @include m.respond(desktop){ width: clamp(0px, 30vw, 480px); }

        background: var(--white);
        color: var(--pink-450);
        box-shadow: 0px 0px 10px var(--shadow);
        font-weight: bold;

        svg{ color: var(--pink-500) }

        .top, .bottom{
            @include m.flex-center;
            justify-content: space-between;
        }

        .top span, .bottom span{@include m.flex-center; }

        .top{
            span{ gap: 0.5em; }
            p{ font-family: var(--font-serif); }
        }

        img{
            width: 100%;
            padding: 2em;
            background: var(--pink-150);
        }

        .bottom{
            span{ gap: 1em; }
        }
    }
}

.about-us{
    .icon-wrapper{ --size: 45px; }

    .container{
        display: flex;
        justify-content: space-between;
        gap: 1em;

        padding-block: 0.5em;

        overflow: scroll;

        .item{
            display: flex;
            flex-direction: column;
            gap: 1em;

            min-height: 300px;
            min-width: 400px;
            max-width: 400px;
            padding: 1em;

            background: var(--white);
            border-radius: var(--radius-sm);
            box-shadow: 0px 0px 10px var(--shadow);

            .title{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5em;
                
                padding: 0.5em;
                width: 100%;

                background: var(--pink-150) url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1775004022/damascus-pattern-grey-free-png_1_dsvn0g.png");
                background-size: cover;
                border-radius: var(--radius-sm);

                p{
                    font-family: var(--font-serif);
                    font-weight: bold;
                    color: var(--pink-500);
                }
            }

            .text{
                display: flex;
                flex-direction: column;
                gap: 1em;
            }
        }
    }
}


.features{
    .container{
        display: flex;
        justify-content: space-between;
        gap: 1em;

        padding-block: 0.5em;

        overflow: scroll;

        .product{
            min-width: 260px;
            max-width: 260px;
        }
    }
}


.features, .about-us{ padding: 0.5em; }

.dark-mode{
    .hero{
        .title{
            h1{ color: var(--pink-200) }
            span{ color: var(--pink-350) }
        }

        .image{
            background: var(--pink-900);
            color: var(--pink-300);

            svg{ color: var(--pink-350) }

            img{ background: var(--pink-950) }
        }
    }

    .about-us{
        .icon-box{
            .icon-svg{ color: var(--pink-300) }
        }

        .container{
            .item{
                background: var(--pink-900);

                .title{
                    background: var(--pink-950) url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1775004022/damascus-pattern-grey-free-png_1_dsvn0g.png");
                    background-size: cover;

                    p{ color: var(--pink-200) }
                }
            }
        }
    }
}