@use "mixins" as m;
@use "variables";

main{
    width: 100%;
    max-width: 1920px;
    padding-inline: 0.5em;
    margin: 0 auto;

    @include m.respond(desktop){
        margin: 0;
        padding: 0;
    }
}

.hero{
    .filter-area{
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        .outer-input-box{ width: clamp(0px, 50vw, 450px); }
    }

    .container{
        display: flex;
        flex-direction: column;
        gap: 1em;

        margin-top: 1em;

        .search-label{
            margin-bottom: 1em;
            em{ font-weight: bold; }
        }

        .category{
            .products{
                padding-inline: 1em;

                display: grid;  
                grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
                gap: 1em;
            }
        }
    }
}

.product-view{
    width: clamp(0px, 98vw, 800px);

    .product{
        display: flex;
        flex-direction: column;
        gap: 1em;

        height: 100%;
        margin-block: 0.5em;

        @include m.respond(tablet){ flex-direction: row; }

        img{
            margin-inline: auto;
            width: clamp(150px, 80vw, 350px);
        }

        .content{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1em;

            width: 100%;

            .price{
                color: var(--pink-450);
                font-size: clamp(1.6em, 3vw, 2em);
                font-weight: bold;
            }

            h1{ font-size: clamp(1.5em, 2vw, 1.8em); }
            p{ font-size: clamp(1em, 2vw, 1.1em); }
        }
    }
}


.dark-mode{
    .product-view{
        .price{ color: var(--pink-300); }
    }
}