body{
    background: #ebd5ed url(general-images/bg3.png) right bottom no-repeat;

}

main{
    margin-bottom: 10vh;
}

.left-content{
    text-align: center;

}

.left-content h1{
    font-family: var(--secondary-font);
    font-size: 5em;

    color: var(--secondary-clr);
    
}

.left-content p{
    font-size: 1.5em;
    font-weight: bold;
}

.generic-button button{
    margin: 0 auto;
    margin-top: 5em;

}

.about-us-section h1{
    color: var(--tertiary-clr);

}

.about-us-section ul{
    display: flex;
    flex-direction: column;
    gap: 3em;

}

.about-us-section svg{
    width: 60px;
    margin-left: 0.5em;

}

.about-us-item{
    display: flex;
    gap: 2em;
    align-items: center;
    border-left: 4px solid var(--secondary-clr);
    background: white;
    box-shadow: 3px 1px 4px var(--primary-shadow-clr);
    padding: 0.5em;

    min-height: 200px;

}

.about-us-item-text{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 70%;
    margin: 0 auto;

}


@media(min-width: 1024px){
    .left-content h1{
        font-size: 5vw;

    }
    .main-section{
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .right-content{
        display: block;
        background: url(general-images/preview-alt.png) center center no-repeat;
        background-size: contain;
        
        width: 40%;
        height: 65vh;

    }

    .generic-button button{
        margin-top: 2em;

    }
    

    .about-us-section ul{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


}