body{
    background: var(--background-clr) url(general-images/primary-bg.png) center center;
    background-repeat: no-repeat;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;
    
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/


.left-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;

}

.left-content h1{
    font-size: 5em;
    font-family: var(--secondary-font);
    color: var(--primary-clr)

}

.left-content button{
    margin-top: 1.5em;

}

.left-content p{
    font-size: 1.5em;
    color: var(--primary-clr);

}

.about-us-section{
    color: var(--primary-clr);

}

.about-us-item{
    background: white;
    padding: 1em 2em 1em 2em;

    border-left: 4px solid var(--secondary-clr);

    display: flex;
    align-items: center;
    gap: 1em;

    box-shadow: 4px 4px 4px var(--shadow-clr);

}

.about-us-item h1, .about-us-item svg{
    color: var(--secondary-clr);

}

.about-us-item svg{
    width: 50px;

}

.about-us-item-text{
    display: flex;
    flex-direction: column;
    gap: 0.5em;

}

.about-us-section ul{
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.right-content{
    display: none;

}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/


@media(min-width: 1024px){
    main{
        padding-inline: 5%;

    }

    .main-section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        

    }

    .left-content button{
        padding: 0.8em;
        font-size: 1.5vw;
    }

    .left-content h1{
        font-size: 5vw;
    }
    .left-content p{
       font-size: 1.5vw;
    }

    .right-content{
        display: block;
        
        background: url(general-images/preview.png) center center;
        background-size: contain;
        background-repeat: no-repeat;

        width: 30vw;
        height: 60vh;

    }

    .about-us-section ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        
    }

    .about-us-item-text{
        font-size: 1vw;
        
    }

}