
body{
    display: flex;
    flex-direction: column;
    gap: 3em;

    background: var(--primary-bg-clr);
}

main{
    min-height: 70vh;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container .left-container{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.left-container{
    padding: 2em 1em 2em 1em;

    background: var(--tertiary-clr);
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 4px var(--shadow-clr);
}
.left-container .container-forms .container-forms-title{
    margin-bottom: 1em;
}
.left-container .container-forms .container-forms-title h1{
    font-family: var(--tertiary-font);
}
.left-container .container-forms form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.left-container .container-forms form .form-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-container .container-forms form .form-footer a:hover{
    text-decoration: underline;
}

.regular-button{
    font-size: 1.2em;
    font-weight: bold;
}
.regular-input input, .regular-input select{
    padding: 1.5em;
}

.nav-bar .link-button{
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.8em;
}


@media(min-width: 1024px){
    body{
        gap: 2em;
    }

    .container{
        width: 60vw;
        min-height: 50vh;

        display: grid;
        grid-template-columns: 60% auto;

        background: var(--tertiary-clr);
        box-shadow: 4px 4px 4px var(--shadow-clr);
        border-radius : var(--border-radius);
    }

    .right-container .container-background{
        width: 100%;
        height: 100%;

        border-radius: 150px var(--border-radius) var(--border-radius) 150px;
    }

    .left-container{
        padding: 3em 2em 3em 2em;

        justify-content: center;

        box-shadow: none;
        background: transparent;
    }

    .regular-input input, 
    .regular-input select{
        padding: 1em;
    }
    .regular-button{
        padding: 0.5em;
    }

    .left-container .container-forms form .form-footer{
        font-size: 0.8em;
    }

    .nav-bar .link-button{
        width: 30%;
    }
}


@media(min-width: 1800px){
    body{
        gap: 5em;
    }

    .left-container .container-forms form .form-footer{
        font-size: 1em;
    }

    .regular-button{
        padding: 0.7em;
    }
}