@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --font-style: "Delius Swash Caps", "cursive";
  --font-serif: "Ubuntu", "serif";
  --font-sans: "Google Sans Flex", "sans-serif";
  --radius: 0.25em;
  --radius-sm: calc(var(--radius) + 0.25em);
  --radius-m: calc(var(--radius-sm) + 1em);
  --radius-lg: calc(var(--radius-sm) + 3em);
  --radius-xg: calc(var(--radius-sm) + 5em);
  --black: #000000;
  --white: #FFFFFF;
  --light-shadow: #0000000c;
  --shadow: #00000026;
  --darker-shadow: #0000004d;
  --pink-950: #271d21;
  --pink-950-outer: #33272c53;
  --pink-900: #342329;
  --pink-850: #583F48;
  --pink-800: #705861;
  --pink-700: #A17F8C;
  --pink-500: #89475F;
  --pink-450: #AC5373;
  --pink-400: #C8809A;
  --pink-350: #FBB2C8;
  --pink-300: #E4D1D8;
  --pink-250: #E8DCE0;
  --pink-200: #EFE6EA;
  --pink-150: #F5EFEF;
  --pink-150-outer: #f5efef53;
  --red-400: #E04E4E;
  --red-400-outer: #e04e4e20;
  --red-300: #E08585;
  --cyan-400: #308D97;
  --cyan-400-outer: #308d9720;
  --cyan-300: #8BD6DE;
  --time: 0.2s;
}

button {
  border: none;
  background: var(--white);
  cursor: pointer;
}

/* =-=-=-=-=-=-=-=-=-= OTHERS =-=-=-=-=-=-=-=-=-= */
.cart-amount {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: var(--pink-500);
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  border-radius: var(--radius-m);
}

.regular-details {
  position: relative;
}
.regular-details summary {
  cursor: pointer;
}
.regular-details nav {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateX(-60%);
  display: flex;
  flex-direction: column;
  background: var(--white);
  box-shadow: 0px 0px 10px var(--shadow);
  border-radius: var(--radius);
}
.regular-details nav a {
  padding: 0.5em;
  font-size: 1em;
}
.regular-details nav a:hover {
  background: var(--pink-200);
  color: var(--pink-500);
}

.nav-link {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0em;
}
.nav-link .icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 1em;
  border-radius: var(--radius-lg);
  color: var(--pink-150);
}
.nav-link .label {
  font-size: 0.7em;
  font-weight: bold;
}
.nav-link:hover .icon-bg, .nav-link.selected .icon-bg {
  background: var(--pink-200);
}
.nav-link:hover .icon-svg, .nav-link:hover p, .nav-link.selected .icon-svg, .nav-link.selected p {
  color: var(--pink-500);
}

.nav-link.outer {
  flex-direction: column-reverse;
}

/* =-=-=-=-=-=-=-=-=-= TOGGLE THEME =-=-=-=-=-=-=-=-=-= */
.toggle-theme.regular {
  --size: 20px;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 120px;
  padding: 0.3em;
  background: var(--white);
  box-shadow: 0px 0px 10px var(--light-shadow);
  border-radius: var(--radius-lg);
  cursor: pointer;
}
.toggle-theme.regular .selected-bg {
  position: absolute;
  top: 50%;
  left: 0.3em;
  width: calc(50% - 0.3em);
  height: calc(100% - 0.5em);
  transform: translateY(-50%) translateX(0);
  background: var(--pink-150);
  border-radius: var(--radius-lg);
  z-index: 0;
}
.toggle-theme.regular .selected-bg.outer {
  transform: translateY(-50%) translateX(100%);
}
.toggle-theme.regular .icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  z-index: 1;
}
.toggle-theme.regular .icon-bg.active .icon-svg {
  color: var(--pink-500);
}
.toggle-theme.regular .icon-bg .icon-svg {
  width: var(--size);
  height: calc(var(--size) + 0.5em);
}
.toggle-theme.regular .toggle-icon {
  width: var(--size);
  height: calc(var(--size) + 0.5em);
}
.toggle-theme.regular.desktop {
  display: none;
}
@media (min-width: 1024px) {
  .toggle-theme.regular.desktop {
    display: inherit;
  }
}

.toggle-theme.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0.5em;
  border-radius: var(--radius-sm);
  cursor: pointer;
}
.toggle-theme.outer .toggle-icon {
  display: none;
}
.toggle-theme.outer .toggle-icon.active {
  display: block;
}
.toggle-theme.outer:hover {
  background: var(--pink-200);
}
.toggle-theme.outer:hover .toggle-icon {
  color: var(--pink-500);
}

/* =-=-=-=-=-=-=-=-=-= REGULAR BUTTON =-=-=-=-=-=-=-=-=-= */
.regular-btn {
  padding: 1em;
  background: linear-gradient(to left, var(--pink-400), var(--pink-500) 80%);
  background-size: 200% 100%;
  background-position: left;
  border-radius: var(--radius-sm);
  border: none;
  color: var(--pink-150);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.regular-btn:hover {
  background-position: right;
  box-shadow: inset 0px 0px 10px var(--darker-shadow);
}

/* =-=-=-=-=-=-=-=-=-= BACK BUTTON =-=-=-=-=-=-=-=-=-= */
.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 0.3em;
  width: fit-content;
  font-weight: bold;
  cursor: pointer;
}
.back-button:hover span, .back-button:hover svg {
  color: var(--pink-400);
}
.back-button span, .back-button svg {
  color: var(--pink-500);
}

/* =-=-=-=-=-=-=-=-=-= ICONS =-=-=-=-=-=-=-=-=-= */
.icon-svg {
  color: var(--pink-850);
}

.icon-wrapper {
  position: relative;
  /* --size: 50px; (EXAMPLE)*/
  width: var(--size, 40px);
  height: var(--size, 40px);
}
@media (min-width: 1024px) {
  .icon-wrapper {
    width: var(--size, 35px);
    height: var(--size, 35px);
  }
}
.icon-wrapper .icon-bg,
.icon-wrapper .icon-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
}
.icon-wrapper .icon-bg {
  color: var(--white);
}
.icon-wrapper .icon-svg {
  width: calc(var(--size) - 1em);
  height: calc(var(--size) - 1em);
}

.icon-wrapper.hover:hover .icon-bg {
  color: var(--pink-150);
}
.icon-wrapper.hover:hover .icon-svg {
  color: var(--pink-500);
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  width: fit-content;
  height: fit-content;
  border-radius: var(--radius);
}
.icon-btn:hover, .icon-btn:focus-within {
  background: var(--pink-250);
}
.icon-btn:hover svg, .icon-btn:focus-within svg {
  color: var(--pink-500);
}

.icon-btn.outer-color {
  background: var(--pink-500);
}
.icon-btn.outer-color, .icon-btn.outer-color svg {
  color: var(--pink-150);
}
.icon-btn.outer-color:hover {
  background: var(--pink-450);
}

/* =-=-=-=-=-=-=-=-=-= INPUTS =-=-=-=-=-=-=-=-=-=  */
input, select {
  width: 100%;
  border: none;
  background: none;
  padding: 1em;
  border-radius: var(--radius);
}

select {
  cursor: pointer;
}

.regular-input-box {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  border-bottom: 1px solid var(--pink-300);
}
.regular-input-box label {
  font-weight: 500;
  color: var(--pink-700);
}
.regular-input-box input, .regular-input-box select {
  color: var(--pink-800);
  font-weight: bold;
}
.regular-input-box input::placeholder, .regular-input-box select::placeholder {
  color: var(--pink-300);
  font-weight: bold;
}
.regular-input-box:hover input, .regular-input-box:hover select, .regular-input-box:focus-within input, .regular-input-box:focus-within select {
  background: var(--pink-150);
}

.outer-input-box {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: var(--white);
  border-radius: var(--radius);
}
.outer-input-box label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
  border-right: 1px solid var(--pink-700);
}
.outer-input-box label svg {
  color: var(--pink-700);
}
.outer-input-box input {
  color: var(--pink-800);
  font-weight: bold;
}
.outer-input-box input::placeholder {
  color: var(--pink-300);
  font-weight: bold;
}
.outer-input-box:focus-visible, .outer-input-box:focus-within, .outer-input-box:hover {
  background: var(--pink-200);
}

/* =-=-=-=-=-=-=-=-=-=  DARK MODE =-=-=-=-=-=-=-=-=-= */
.dark-mode .cart-amount {
  background: var(--pink-500);
}
.dark-mode .regular-details nav {
  background: var(--pink-900);
}
.dark-mode .regular-details nav a:hover {
  background: var(--pink-850);
  color: var(--pink-350);
}
.dark-mode .nav-link:hover .icon-bg, .dark-mode .nav-link.selected .icon-bg {
  background: var(--pink-950);
}
.dark-mode .nav-link:hover .icon-svg, .dark-mode .nav-link:hover p, .dark-mode .nav-link.selected .icon-svg, .dark-mode .nav-link.selected p {
  color: var(--pink-350);
}
.dark-mode .toggle-theme.regular {
  background: var(--pink-900);
}
.dark-mode .toggle-theme.regular .selected-bg {
  background: var(--pink-950);
}
.dark-mode .toggle-theme.regular .icon-bg.active .icon-svg {
  color: var(--pink-350);
}
.dark-mode .toggle-theme.outer:hover {
  background: var(--pink-950);
}
.dark-mode .toggle-theme.outer:hover .toggle-icon {
  color: var(--pink-350);
}
.dark-mode .icon-wrapper .icon-bg {
  color: var(--pink-900);
}
.dark-mode .icon-wrapper.hover:hover .icon-bg {
  color: var(--pink-950);
}
.dark-mode .icon-wrapper.hover:hover .icon-svg {
  color: var(--pink-350);
}
.dark-mode .back-button:hover span, .dark-mode .back-button:hover svg {
  color: var(--pink-300);
}
.dark-mode .back-button span, .dark-mode .back-button svg {
  color: var(--pink-350);
}
.dark-mode .regular-btn {
  background: linear-gradient(to left, var(--pink-400), var(--pink-450) 70%);
  background-size: 200% 100%;
  background-position: left;
}
.dark-mode .regular-btn:hover {
  background-position: right;
}
.dark-mode .regular-input-box {
  border-color: var(--pink-700);
}
.dark-mode .regular-input-box label {
  color: var(--pink-300);
}
.dark-mode .regular-input-box input, .dark-mode .regular-input-box select {
  color: var(--pink-300);
}
.dark-mode .regular-input-box input::placeholder, .dark-mode .regular-input-box select::placeholder {
  color: var(--pink-700);
}
.dark-mode .regular-input-box:hover input, .dark-mode .regular-input-box:hover select, .dark-mode .regular-input-box:focus-within input, .dark-mode .regular-input-box:focus-within select {
  background: var(--pink-950);
}
.dark-mode .outer-input-box {
  background: var(--pink-900);
}
.dark-mode .outer-input-box label {
  border-color: 1px solid var(--pink-700);
}
.dark-mode .outer-input-box label svg {
  color: var(--pink-700);
}
.dark-mode .outer-input-box input {
  color: var(--pink-300);
}
.dark-mode .outer-input-box input::placeholder {
  color: var(--pink-700);
}
.dark-mode .outer-input-box:focus-visible, .dark-mode .outer-input-box:focus-within, .dark-mode .outer-input-box:hover {
  background: var(--pink-800);
}
.dark-mode .icon-btn {
  background: var(--pink-900);
}
.dark-mode .icon-btn:hover, .dark-mode .icon-btn:focus-within {
  background: var(--pink-850);
}
.dark-mode .icon-btn:hover svg, .dark-mode .icon-btn:focus-within svg {
  color: var(--pink-350);
}
.dark-mode .icon-btn.outer-color {
  background: var(--pink-850);
}
.dark-mode .icon-btn.outer-color, .dark-mode .icon-btn.outer-color svg {
  color: var(--pink-150);
}
.dark-mode .icon-btn.outer-color:hover {
  background: var(--pink-300);
}

body {
  padding: 0;
}

button {
  cursor: pointer;
}

.icon-button {
  background: var(--white);
  border: none;
  border-radius: var(--radius-sm);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-button svg {
  color: var(--pink-850);
}
.icon-button:hover {
  background: var(--pink-200);
}
.icon-button:hover svg {
  color: var(--pink-500);
}

.theme-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background: transparent;
}
.theme-btn .icon-bg {
  display: none;
}
.theme-btn .icon-bg.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-btn:hover {
  background: var(--pink-150);
}

.brand-logo {
  width: 45px;
  height: 45px;
}

.manager-aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
.manager-aside .aside-hero {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100dvh;
  min-width: 150px;
  max-width: 50dvw;
  padding: 1em;
  background: var(--white);
  transition-timing-function: ease;
  transform: translateX(-100%);
  z-index: 2;
}
.manager-aside .aside-hero.open {
  transform: translateX(0);
}
@media (min-width: 1024px) {
  .manager-aside .aside-hero {
    position: initial;
    height: 100%;
    width: 100%;
    min-width: 0;
    max-width: max-content;
    padding: 0.3em;
    transform: translateX(0);
    z-index: inherit;
  }
}
.manager-aside .aside-hero .nav-link {
  --size: 60px;
  position: relative;
  width: fit-content;
  height: fit-content;
}
.manager-aside .aside-hero .nav-link .icon-bg {
  width: var(--size);
  height: var(--size);
  position: absolute;
  color: var(--pink-150);
}
@media (min-width: 1024px) {
  .manager-aside {
    flex-direction: column;
    gap: 1em;
    background: var(--white);
    width: fit-content;
    padding: 0;
  }
  .manager-aside .aside-hero {
    background: transparent;
  }
}

/*# sourceMappingURL=admin.css.map */
