@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --font-style: "Delius Swash Caps", "cursive";
  --font-serif: "Ubuntu", "serif";
  --font-sans: "Google Sans Flex", "sans-serif";
  --radius: 0.25em;
  --radius-sm: calc(var(--radius) + 0.25em);
  --radius-m: calc(var(--radius-sm) + 1em);
  --radius-lg: calc(var(--radius-sm) + 3em);
  --radius-xg: calc(var(--radius-sm) + 5em);
  --black: #000000;
  --white: #FFFFFF;
  --light-shadow: #0000000c;
  --shadow: #00000026;
  --darker-shadow: #0000004d;
  --pink-950: #271d21;
  --pink-950-outer: #33272c53;
  --pink-900: #342329;
  --pink-850: #583F48;
  --pink-800: #705861;
  --pink-700: #A17F8C;
  --pink-500: #89475F;
  --pink-450: #AC5373;
  --pink-400: #C8809A;
  --pink-350: #FBB2C8;
  --pink-300: #E4D1D8;
  --pink-250: #E8DCE0;
  --pink-200: #EFE6EA;
  --pink-150: #F5EFEF;
  --pink-150-outer: #f5efef53;
  --red-400: #E04E4E;
  --red-400-outer: #e04e4e20;
  --red-300: #E08585;
  --cyan-400: #308D97;
  --cyan-400-outer: #308d9720;
  --cyan-300: #8BD6DE;
  --time: 0.2s;
}

main {
  padding: 0.5em;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

.hero {
  min-height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}
@media (min-width: 1024px) {
  .hero .container {
    margin-inline: 0;
  }
}
.hero .container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
  min-height: 0;
}
.hero .container .item {
  width: clamp(0px, 100dvw - 1em, 500px);
  display: flex;
  flex-direction: column;
}
.hero .container .item .title, .hero .container .item .content {
  background: var(--white);
}
.hero .container .item .title {
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
  padding: 0.5em 1em;
  width: 70%;
  box-shadow: 0px 0px 10px var(--light-shadow);
}
.hero .container .item .title h1 {
  font-size: clamp(1.2em, 3vw, 1.5em);
  font-family: var(--font-serif);
}
.hero .container .item .content {
  border-radius: 0 var(--radius-sm) var(--radius-sm) var(--radius-sm);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-shadow: 0px 10px 10px var(--light-shadow);
}
.hero .container .item .content li {
  --size: 45px;
  display: flex;
  gap: 1em;
  align-items: center;
}
.hero .container .item .content li .icon-box .icon-bg {
  color: var(--pink-150);
}

.costumer li {
  display: grid;
  grid-template-columns: var(--size) auto;
  gap: 1em;
}

@media (min-width: 1024px) {
  .review {
    margin-left: auto;
  }
}
.review {
  flex: 1;
  min-height: 0;
  max-height: 700px;
}
.review .content {
  flex: 1;
  overflow: auto;
}
.review img {
  border-radius: var(--radius-sm);
}

.overview .content li,
.review .content li {
  justify-content: space-between;
}
.overview .content li div,
.review .content li div {
  display: flex;
  gap: 1em;
}
.overview .content li div span,
.review .content li div span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dark-mode .hero .container .item .title, .dark-mode .hero .container .item .content {
  background: var(--pink-900);
}
.dark-mode .hero .container .item .content li .icon-box .icon-bg {
  color: var(--pink-950);
}

/*# sourceMappingURL=cart.css.map */
