.hero-section {
    margin-top: 2em;
}
.hero-section,
.hero-top {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.section-bg {
    padding: 1.5em;

    background: var(--primary-bg-clr);
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 4px var(--shadow-clr);
}

.order-info-header a div{
    transition: var(--transition);
}
.order-info-header a div:hover{
    text-decoration: underline;
    color: var(--primary-clr);
}

.order-review h1,
.order-info-header h1,
.order-summary h1 {
    font-family: var(--tertiary-font);
    font-size: 1.2em;
}

.order-info-header,
.order-review h1,
.order-summary h1 {
    padding-bottom: 0.5em;
    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--primary-clr);
}

.order-info-header a div {
    display: flex;
    align-items: center;
}
.order-info-content ol {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.order-info-content li {
    display: flex;
    gap: 1em;
    align-items: center;
}
.order-info-content img {
    width: 50px;
    border-radius: var(--border-radius);
}

.list-item-text {
    color: var(--fourth-clr);
}
.list-item-text strong {
    color: var(--fifth-clr);
}

.order-summary .list-item-text li{
    color: var(--fifth-clr);
}
.order-summary .list-item-text ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.1em;
}

.order-summary ol{
    margin-bottom: 2em;

    display: flex;
    flex-direction: column;
    gap: 2em;
}

.button-submit button{
    width: 100%;
}

.item-amount {
    width: 25px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -8px;
    right: -10px;

    background: var(--secondary-clr);
    color: var(--tertiary-clr);
    font-size: 0.8rem;
    border-radius: 50%;
    pointer-events: none;
}

.order-review ol{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.order-review ol li{
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: var(--tertiary-clr);
    border-radius: var(--border-radius);
}
.order-review svg{
    color: black;
    align-self: baseline;
}
.order-review img{
    width: 125px;
    height: 125px;

    border-radius: var(--border-radius);
}
.order-review strong{
    font-size: 1.2em;
}
.order-review .price{
    color: var(--secondary-clr);
}


@media(max-width: 1023px){
    .order-review ol li {
        width: 100%;
    }
}


@media(min-width: 1024px){
    main{
        padding-inline: 2em;
    }

    .hero-section {
        display: grid;
        grid-template-columns: 35% auto;
    }

    .order-summary {
        width: 400px;
        margin: 0 0 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .order-review ol li {
        flex-direction: row;
        justify-content: left;
        gap: 2em;
    }

    .hero-section {
        margin-block: 3em;
    }

    .order-review a {
        margin: 0 0 0 auto;
    }
}