@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --font-style: "Delius Swash Caps", "cursive";
  --font-serif: "Ubuntu", "serif";
  --font-sans: "Google Sans Flex", "sans-serif";
  --radius: 0.25em;
  --radius-sm: calc(var(--radius) + 0.25em);
  --radius-m: calc(var(--radius-sm) + 1em);
  --radius-lg: calc(var(--radius-sm) + 3em);
  --radius-xg: calc(var(--radius-sm) + 5em);
  --black: #000000;
  --white: #FFFFFF;
  --light-shadow: #0000000c;
  --shadow: #00000026;
  --darker-shadow: #0000004d;
  --pink-950: #271d21;
  --pink-950-outer: #33272c53;
  --pink-900: #342329;
  --pink-850: #583F48;
  --pink-800: #705861;
  --pink-700: #A17F8C;
  --pink-600: #B998A5;
  --pink-500: #89475F;
  --pink-450: #AC5373;
  --pink-400: #C8809A;
  --pink-350: #FBB2C8;
  --pink-300: #E4D1D8;
  --pink-250: #E8DCE0;
  --pink-200: #EFE6EA;
  --pink-150: #F5EFEF;
  --pink-150-outer: #f5efef53;
  --red-400: #E04E4E;
  --red-400-outer: #e04e4e20;
  --red-300: #E08585;
  --cyan-400: #308D97;
  --cyan-400-outer: #308d9720;
  --cyan-300: #8BD6DE;
  --time: 0.2s;
}

.hero {
  max-width: clamp(0px, 100% - 15vw, 1350px);
  min-height: 80dvh;
  max-height: 1000px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .hero {
    justify-content: space-between;
  }
}
.hero .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
@media (min-width: 1024px) {
  .hero .title {
    max-width: clamp(0px, 100% - 10vw, 500px);
  }
}
.hero .title h1, .hero .title span {
  font-weight: normal;
  font-family: var(--font-style);
}
.hero .title h1 {
  font-size: clamp(3em, 4vw, 5em);
}
.hero .title p {
  font-size: clamp(1em, 2vw, 1.2em);
}
.hero .title span {
  color: var(--pink-500);
}
.hero .title .regular-btn {
  width: 100%;
}
@media (min-width: 1024px) {
  .hero .title .regular-btn {
    width: 50%;
  }
}
.hero .image {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 480px;
  padding: 1em;
}
@media (min-width: 1024px) {
  .hero .image {
    width: clamp(0px, 30vw, 480px);
  }
}
.hero .image {
  background: var(--white);
  color: var(--pink-450);
  box-shadow: 0px 0px 10px var(--shadow);
  font-weight: bold;
}
.hero .image svg {
  color: var(--pink-500);
}
.hero .image .top, .hero .image .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.hero .image .top span, .hero .image .bottom span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .image .top span {
  gap: 0.5em;
}
.hero .image .top p {
  font-family: var(--font-serif);
}
.hero .image img {
  width: 100%;
  padding: 2em;
  background: var(--pink-150);
}
.hero .image .bottom span {
  gap: 1em;
}

.about-us .icon-wrapper {
  --size: 45px;
}
.about-us .container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding-block: 0.5em;
  overflow: scroll;
}
.about-us .container .item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 300px;
  min-width: 400px;
  max-width: 400px;
  padding: 1em;
  background: var(--white);
  border-radius: var(--radius-sm);
  box-shadow: 0px 0px 10px var(--shadow);
}
.about-us .container .item .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  width: 100%;
  background: var(--pink-150) url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1775004022/damascus-pattern-grey-free-png_1_dsvn0g.png");
  background-size: cover;
  border-radius: var(--radius-sm);
}
.about-us .container .item .title .icon-wrapper .icon-svg {
  color: var(--pink-700);
}
.about-us .container .item .title p {
  font-family: var(--font-serif);
  font-weight: bold;
  color: var(--pink-700);
}
.about-us .container .item .text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: clamp(0.9em, 1vw, 1em);
}

.features .container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding-block: 0.5em;
  overflow: scroll;
}
.features .container .product {
  min-width: 260px;
  max-width: 260px;
}

.features, .about-us {
  padding: 0.5em;
}

.dark-mode .hero .title h1 {
  color: var(--pink-200);
}
.dark-mode .hero .title span {
  color: var(--pink-350);
}
.dark-mode .hero .image {
  background: var(--pink-900);
  color: var(--pink-300);
}
.dark-mode .hero .image svg {
  color: var(--pink-350);
}
.dark-mode .hero .image img {
  background: var(--pink-950);
}
.dark-mode .about-us .container .item {
  background: var(--pink-900);
}
.dark-mode .about-us .container .item .title {
  background: var(--pink-950) url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1775004022/damascus-pattern-grey-free-png_1_dsvn0g.png");
  background-size: cover;
}
.dark-mode .about-us .container .item .title .icon-wrapper .icon-svg {
  color: var(--pink-600);
}
.dark-mode .about-us .container .item .title p {
  color: var(--pink-600);
}

/*# sourceMappingURL=index.css.map */
