body{
    display: block;

}

form{
    background: var(--tertiary-clr);

    padding: 2em;
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    gap: 2em;

}

.main-title{
    margin: 0 auto;
    font-size: 1.2em;

}

.back-button a{
    display: flex;
    align-items: center;
    gap: 0.3em;
    
    margin-bottom: 1em;

    width: 100px;

}
.back-button a svg{
    color: var(--secondary-clr);
}

.back-button a:hover{
    color: var(--fifth-clr);

}

.form-inputs{
    display: flex;
    flex-direction: column;
    gap: 1.5em;

}

.form-inputs select{
    background: transparent;

}

.form-inputs input, 
.form-inputs select{
    width: 100%;
    padding: 1em;

    border-radius: var(--border-radius);

    border: 1px solid var(--primary-clr);
    outline: none;

    transition: var(--transition);
}

.form-inputs input:hover, 
.form-inputs select:hover, 
.form-inputs input:focus, 
.form-inputs select:focus{
    border-color: var(--secondary-clr);

}

.form-input{
    display: flex;
    align-items: center;
    gap: 1em;

}

.form-input img{
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;

}


@media(min-width: 1024px){
    main{
        width: 50%;
        margin: 0 auto;

    }
}