body{
    min-height: 95vh;

    padding-block: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--primary-bg-clr);
}

main{
    width: 100%;
    display: flex;
}

form{
    width: 100%;

    padding: 2em 1em 2em 1em;
    margin: 0 auto;

    background: var(--tertiary-clr);

    border-radius: var(--border-radius);
    box-shadow: 4px 4px 4px var(--shadow-clr);
}

form .regular-input input{
    padding: 1.2em;
}

.form-title{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.form-title h1 {
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
    
    font-size: 1.3em;
}
.form-title h1 span{
    font-weight: normal;
}
.form-title h1 a:hover{
    text-decoration: underline;
}
.form-title h1 div{
    display: flex;
    align-items: center;
    gap: 0.3em;
}
.form-main{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.form-inputs .form-picture .form-item{
    margin-bottom: 1em;
}
.form-inputs .form-picture .form-item div{
    display: flex;
    gap: 2em;
}
.form-inputs .form-picture .form-item div img{
    width: 60px;

    border-radius: var(--border-radius);
    aspect-ratio: 1/1;
    object-fit: cover;
}
.form-inputs .form-regular-inputs{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.form-links{
    display: flex;
    justify-content: space-between
}
.form-links a:hover{
    text-decoration: underline;
}

.regular-button{
    font-size: 1.2em;
    font-weight: bold;
}


@media(min-width: 1024px){
    form{
        width: 50vw;
        padding: 2em;
    }

    .form-inputs .form-picture .form-item{
        margin-bottom: 0;
    }
    .form-inputs .form-regular-inputs{
        margin-top: 1em;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .form-title h1 {
        flex-direction: row;
        justify-content: space-between;
    }
}