body {
    display: flex;
    flex-direction: column;
    gap: 2em;

    background: var(--primary-bg-clr);
}

main {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2em;

    overflow: hidden;
}

.side-bar{
    padding: 1em;

    display: flex;
    flex-direction: column;

    background: var(--tertiary-clr);

    border-radius: var(--border-radius);
}
.side-bar a{
    padding: 0.5em;

    color: var(--primary-clr);
    
    border-radius: var(--border-radius);
    transition: var(--transition);
}



.side-bar-top{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.side-bar-top .brand-icon {
    border-bottom: 2px solid var(--primary-clr);
    padding-bottom: 1em;
}
.side-bar-top .brand-icon img {
    width: 40px;
}
.side-bar-top .brand-icon,
.side-bar-top .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a,
.exit-icon{
    display: flex;
    align-items: center;
}
.nav-links a:hover,
.exit-icon:hover{
    color: var(--secondary-clr);
    background-color: var(--primary-bg-clr);
}
.nav-links a svg,
.exit-icon svg {
    width: 35px;
}
.nav-links .selected-page {
    background: var(--primary-bg-clr);
}
.nav-links .selected-page svg {
    color: var(--secondary-clr);
}

.top-section ul {
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
}
.top-section ul .page-data {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.top-section ul .page-data svg {
    width: 40px;

    padding: 0.5em;

    background: var(--tertiary-clr);
    border-radius: var(--border-radius);
}
.top-section ul .page-data h1 {
    font-size: 1.2em;
}
.top-section ul .page-data p {
    font-size: 0.9em;
}
.top-section ul .admin-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-section ul .admin-data img {
    border-radius: var(--border-radius);
    aspect-ratio: 1/1;
    object-fit: cover;
}
.top-section ul .admin-data .settings-icon {
    color: var(--primary-clr);
    transition: var(--transition);
}
.top-section ul .admin-data .settings-icon:hover {
    color: var(--secondary-clr);
}

.info-section,
.table-section {
    background: var(--tertiary-clr);
    padding: 1em;
    border-radius: var(--border-radius);
}

.info-section ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.info-section ul .amount {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.info-section ul .amount span {
    color: var(--secondary-clr);
    font-weight: bold;
    font-size: 1.5em;
}

.desktop {
    display: none;
}

.search-section {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
.search-section .search-bar {
    padding-left: 1em;

    display: flex;
    align-items: center;
    gap: 1em;

    background: var(--tertiary-clr);

    border-radius: 150px;
}
.search-section .search-bar svg {
    border-right: 1px solid var(--primary-clr);
    padding-right: 0.5em;
}
.search-section .search-bar input {
    width: 100%;

    padding: 1.4em;

    color: var(--placeholder-clr);

    border: none;
    outline: none;
    border-radius: 0 150px 150px 0;
}

.table-section {
    height: 100%;
    overflow: auto;
}
.table-section h1 {
    margin-bottom: 1em;

    display: flex;
    align-items: center;
    gap: 0.3em;

    font-size: 1.5em;
}
.table-container {
    height: 100%;

    padding: 1em;
    
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.table-header ul,
.table-body .main-table ul,
.sub-table ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}
.table-body .main-table ul:not(.sub-table-title){
    border-bottom: 1px solid var(--primary-clr);
}
.table-body .main-table ul{
    padding-block: 0.5em;
}
.sub-table ul {
    padding: 0.5em 1em 0.5em 1em;
    background: var(--primary-bg-clr);
}
.sub-table svg{
    width: 25px;
}
.sub-table-title {
    font-weight: bold;
}
.table-body .main-table {
    display: flex;
    flex-direction: column;
}
.table-header {
    padding-bottom: 1em;
    font-weight: bold;
}
.smaller-col {
    min-width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.image-col {
    width: 75px;
}
.smaller-col svg {
    width: 25px;
}
.small-col {
    width: 50px;
}
.regular-col {
    width: 200px;
}
.big-col {
    width: 350px;
}

.available,
.not-available,
.pending{
    padding-block: 0.2em;

    text-align: center;
    border-radius: 150px;
}
.available {
    background: #b8f1c6;
    color: #046b1b;
}
.not-available {
    background: #f4b1b1;
    color: #6b0000;
}
.pending {
    background: #f4e9b1;
    color: #6b4d00;
}

.edit-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

summary {
    list-style: none;
}

.rotate-icon {
    transition: transform 0.3s ease;
    cursor: pointer;
}

details[open] .rotate-icon {
    transform: rotate(180deg);
}


@media(max-width: 1024px) {
    .table-container {
        width: max-content;
    }
}


@media(min-width: 1024px) {
    body {
        height: 95vh;

        margin-inline: 0.5em;

        display: grid;
        grid-template-columns: 7% auto;
        gap: 1em;
    }

    .desktop {
        display: block;
    }

    .side-bar {
        width: 40%;

        align-items: center;
        justify-content: space-between;
        gap: 0;
        
        border-radius: 150px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .nav-links a svg,
    .exit-icon svg {
        width: 30px;
    }

    .top-section ul {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .top-section ul .admin-data {
        gap: 1em;
    }
    .top-section ul .admin-data img {
        width: 45px;
    }
    .top-section ul .page-data svg {
        width: 30px;
    }

    .info-section ul {
        padding-inline: 1em;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0;
    }
    .info-section ul .amount {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .info-section .info-sublist{
        display: flex;
        gap: 2em;
    }
    .info-section ul p {
        font-size: 0.9em;
    }
    .info-section ul .amount span {
        font-size: 2em;
    }

    .mobile {
        display: none;
    }
}