main{
    padding-inline: 1em;

    display: flex;
    flex-direction: column;
    gap: 2em;
}

.search-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}
.search-form form .search-label{
    display: flex;
    align-items: center;
}
.search-form form .search-label svg{
    width: 25px;
}
.search-input{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.search-input input,
.search-input select,
.search-input button{
    width: 40vw;
}
.search-input button{
    padding: 0.7em;
    font-size: 1.1em;
}

.products-list{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.products-list .products{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.header-feature img {
    width: 100%;
    border-radius: var(--border-radius);
}


@media(min-width: 1024px){
    .products-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search-input input,
    .search-input select,
    .search-input button{
        width: 200px;
    }
    .search-input button{
        padding: 0.5em;
        font-size: 1em;
    }

    .products-list{
        gap: 6em;
    }
    .products-list .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 2em;
    }

    .product-view {
        margin: 0 auto;
    }
}


@media(min-width: 1400px){
    .products-list .products{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}