.account-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.account-header ul{
    display: flex;
    align-items: center;
    gap: 0.5em;

    margin-bottom: 2em;

}

.account-header svg{
    width: 10px;
    color: var(--secondary-clr);

}

.account-forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: left;
    
    background: var(--primary-bg-clr);
    width: 80vw;
    margin: 0 auto;

    border-radius: var(--border-radius);

    padding-bottom: 1em;

}

.account-forms form{
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    gap: 1em;


}

.section-header-title{
    padding-block: 1em;
    margin-bottom: 1em;
    background: var(--primary-clr);
    color: var(--tertiary-clr);

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    width: 100%;

    text-align: center;

}

.section-header-title h1{
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;

}

.form-item{
    background: var(--tertiary-clr);
    border: 1px solid var(--primary-clr);
    padding: 0.3em;

    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;

    transition: var(--transition);

    cursor: pointer;


}

.form-item input, 
.form-item select{
    border:none;
    width: 70vw;
    box-sizing: border-box;

    color: var(--placeholder-clr);

}

.form-item label{
    font-weight: bold;
    cursor: pointer;

}

.form-item span{
    color: var(--secondary-clr);

}

.form-item:active,
.form-item:focus-within{
    border-color: var(--secondary-clr);

}

.account-forms button{
    width: 100%;

}

.account-main-footer{
    display: flex;
    justify-content: space-between;

}


@media(min-width:1024px){
    .account-forms{
        width: 50vw;

    }

    .account-forms input, 
    .account-forms select{
        padding: 0.8em;
        width: 35vw;

    }

    .section-header-title h1{
        font-size: 2.5em;

    }

}