    main{
        margin-bottom: 5em;

    }

    .account-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3em;
        
    }

    .account-header ul{
        display: flex;
        gap: 0.5em;
        align-items: top;
        margin-block: 1.5em;

    }

    .account-header svg{
        color: var(--secondary-clr);
        width: 20px;

    }

    .account-forms{
        display: flex;
        flex-direction: column;
        gap: 2em;

    }

    form{
        display: flex;
        flex-direction: column;
        gap: 1em;

    }

    form button{
        width: 100%;
        padding: 0.7em;

    }

    .form-item{
        border: 1px solid var(--primary-clr);
        padding: 0.5em;

        display: flex;
        flex-direction: column;

        border-radius: var(--border-radius);

        transition: var(--transition);

        cursor: pointer;

    }

    .form-item:hover,
    .form-item:active,
    .form-item:focus-within{
        border-color: var(--secondary-clr);

    }

    .form-item label{
        font-weight: bold;

        cursor: pointer;

    }

    .form-item input, 
    .form-item select{
        border: none;
        padding: 0.5em;
        background: transparent;

    }

    .form-item input::placeholder{
        color: var(--fourth-clr);

    }

    .account-main-footer{
        display: flex;
        justify-content: space-between;

    }
    


    @media(min-width: 1024px){
        .right-header{
            gap: 3em;

        }

        body{
            padding: 0;
            margin: 0;
        }

        main{
            margin-bottom: 7em;
            
        }

        .account-hero{
            display: flex;
            justify-content: space-between;
            gap: 1em;

        }

        .account-left-div{
            width: 55%;

        }

        .account-right-div{
            width:45%;
        }

        .account-left-div{
            padding: 1em;

        }

        footer ul{
            display: grid;
            grid-template-columns: repeat(4, 1fr);

        }

    }
