.account-header h1{
    font-family: var(--secondary-font);
    font-size: 2em;
    margin-bottom: 0.3em;

}

main{
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-top: 1em;

    padding-inline: 3%;
    padding-block: 2em;

}

form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    
    background: white;
    padding: 1em;
    border-radius: var(--border-radius);

}

form label{
    font-weight: bold;

}

form div input{
    width: 100%;

    box-sizing: border-box;
    margin-top: 0.3em;
    padding: 1.1em;

    border-radius: var(--border-radius);

    border: 1px solid var(--primary-clr);

    background: var(--background-clr);

}

form button{
    width: 100%;
    justify-content: center;
    font-size: 1.1em;

}

form div input:focus{
    outline: none;
    
    border-color: var(--secondary-clr);

}


.account-main-footer{
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;

}

.account-main-footer a:hover{
    text-decoration: underline;

}

.account-header ul{
    display: flex;
    margin-bottom: 0.5em;
    gap: 0.5em;

}

@media(min-width: 1024px){

    form{
        display: grid;
        grid-template-columns: repeat(2, auto);

    }
    
    form div{
        display: flex;
        flex-direction: column;

    }

    form div input, form button{
        width: 70%;

    }

    .account-header h1{
        font-size: 2.5em;
        
    }

}