:root{
    --primary-clr: #41005f;
    --secondary-clr: #650194;
    --tertiary-clr:#cc0088;

    --primary-font: "Exo 2", sans-serif;
    --secondary-font: "Leckerli One", cursive, sans-serif;

    --transition: all, 0.3s;

    --border-radius: 50px;
    --border-radius-alt: 10px;

    --primary-shadow-clr: #37005088;

}

* {
    margin: 0;
    padding: 0;

}

body{
    font-family: var(--primary-font);

}

hr{
    border-color: var(--primary-clr);

}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=HEADER-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

header{
    margin: 1em 1.5em 0 1.5em;

}

header, main{
    margin-inline: 5%;
    
}

.right-header{
    display: flex;
    justify-content: space-between;
    


}

.right-header li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;

    border-bottom: 2px solid transparent;

    transition: var(--transition);

}


.right-header li:hover a{
    border-bottom: 2px solid var(--tertiary-clr);

}

.numberItens{
    background: var(--tertiary-clr);
    color: white;
    font-weight: bold;

    width: 25px;
    height: 25px;

    border-radius: 50px;
    position: absolute;

    text-align: center;

    line-height: 25px;
    font-size: 0.8em;

    right: 10px;
    top: 1em;

}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=HEADER-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

main{
    color: var(--primary-clr);

}

ul{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: var(--primary-clr);

}

a:hover{
    color: var(--tertiary-clr);

}

header{
    margin-bottom: 3em;
    
}

header svg{
    width: 25px;

}

.generic-button{
    margin-top: 2em;
}

.generic-button button{
    padding: 0.6em;
    background: var(--tertiary-clr);

    font-size: 1.5em;
    color: white;
    font-weight: bold;
    
    border: 2px solid transparent;
    border-radius: var(--border-radius-alt);

    display: flex;
    align-items: center;
    gap: 0.3em;

    cursor: pointer;

    transition: var(--transition);

}

.generic-button button:hover{
    background: transparent;
    color:var(--tertiary-clr);

    border: 2px solid var(--tertiary-clr);

}

.acai-icon img{
    display: none;
    transition: var(--transition);

}

.acai-icon img:hover{
    transform:translateY(-5px);

}

footer{
    text-align: center;
    font-size: 0.9em;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgb(80, 0, 80);
    

    padding: 1.5em;

}

footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 1em;
    
}

footer a{
    color: rgb(202, 161, 235);
    text-decoration: none;

}

footer img, svg{
    width: 20px;

}

footer li strong{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;

}

input, select{
    padding: 1em;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-clr);
    cursor: pointer;

    transition: var(--transition);


}

input:focus, select:focus{
    border-color: var(--tertiary-clr);
    outline: none;

}



@media(min-width: 1024px){
    .acai-icon img{
        display: block;

    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }

    .right-header{
        gap: 10em;

    }

    .numberItens{
        right: 60px;
        top: 2em;

    }

    footer ul{
        display: flex;
        gap: 5em;
        
    }
}