main{
    padding-inline: 1em;
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/


.header-feature img{
    width: 100%;
    margin-block: 2em;

    border-radius: var(--border-radius);

}

.products-header-title h1{
    font-family: var(--secondary-font);
    font-size: 2.5em;

}

.products-search-div{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 2em;

}

.products-search-div svg{
    width: 20px;

}

.products-search-item{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: center;

}

.products-search-label{
    display: flex;
    align-items: center;
    gap: 0.3em;

}

.products-search-item button{
    margin: 0 auto;
    margin-top: 0.5em;
    padding: 0.5em;

    width: 100%;

    text-align: center;
    font-size: 1.2em;

    display: flex;
    justify-content: center;

}

.products-search-item input, select{
    padding: 1.5em 0.5em 1.5em 0.5em;
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-clr);

}

.products-search-item input:focus, .products-search-item select:focus{
    outline: none;
    border-color: var(--secondary-clr);

}

.products-search-item input::placeholder, .products-search-item select{
    color: var(--fourth-clr);
    font-weight: normal;
    text-align: center;

}

.products-list-title{
    background: url(https://res.cloudinary.com/dw2eqq9kk/image/upload/v1750079686/title-background-1_orh8zk.png) center center;
    background-repeat: no-repeat;

    margin-block: 2em;

}

.products-list-title h1{
    background: var(--background-clr);
    width: 45%;
    margin:0 auto;
    text-align: center;
    font-size: 2em;

    color: var(--secondary-clr);

}

.products-list{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;

}

.products-item{
    background: white;
    padding: 1em;

    border-radius: var(--border-radius);
    text-align: center;

    width: 300px;

    border: 1px solid transparent;

    transition: var(--transition);

    height: 500px;

}

.products-item a{
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    gap: 1.5em;

    color: var(--primary-clr);

}

.products-item a:hover{
    color: var(--secondary-clr);

}

.products-item:hover {
    border: 1px solid var(--secondary-clr);

}

.products-item a p{
    color: var(--secondary-clr);

    font-size: 1.2em;
    font-weight: bold;

    margin-block: 0.5em;

}

.products-item small {
    font-weight: normal;

}

.products-item img{
    width: 300px;
    
    border-radius: var(--border-radius);

}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/


@media(min-width: 1024px){
    .products-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .products-search-div{
        gap: 3em;

    }

    .header-feature img{
        margin: 2em 0 0 0;

    }

    .products-search-div{
        margin: 1em 0 0 0;

    }

    .products-search-div button, .products-search-div select, .products-search-div input{
        padding: 0.6em;
        
        font-weight: bold;

    }

    .products-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
        
        justify-items: center;


    }

    .products-item img, .products-item{
        width: 270px;

    }
}

@media(min-width: 2000px){
    .products-item img, .products-item{
        width: 15vw;
        

    }

    .products-item{
        height: 50vh;
    }

}