main{
    padding-inline: 1.5em;

    display: flex;
    flex-direction: column;
    gap: 2em;

}

.product-img, .product-text, .product-forms{
    background: var(--fourth-clr);

}

.product-img{
    padding-top: 1em;
    padding-inline: 1em;

    display: flex;
    justify-content: center;

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

}

.product-img img{
    width: 350px;
    border-radius: var(--border-radius);

}

.product-text{
    padding: 1em;
    padding-bottom: 2em;

    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    text-align: center;
    
}

.product-text h1{
    font-size: 2.5em;
    margin-bottom: 0.5em;

}

.price{
    font-weight: bold;
    font-size: 1.5em;

    color: var(--secondary-clr);
    margin-bottom: 0.5em;

}

.product-forms{
    margin-top: 2em;
    padding: 2em;

    display: flex;
    flex-direction: column;
    gap: 2em;

    border-radius: var(--border-radius);

}

.product-forms button{
    justify-content: center;

}

.product-forms svg{
    width: 25px;
    cursor: pointer;

}

.forms-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.forms-item label{
    font-weight: bold;
    font-size: 1.2em;

}

.forms-item select, .forms-item input{
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-clr);
    color: var(--secondary-clr);

    font-weight: bold;

    padding-inline: 0.3em;

}

.forms-item select:focus, .forms-item input:focus{
    border-color: var(--secondary-clr);
    outline: none;

}

.product-size select, .product-flavor select{
    width: 210px;
    height: 45px;

}

.product-amount input{
    width: 200px;
    height: 40px;

}

.back-button{
    display: flex;
    align-items: center;
    gap: 0.3em;

    margin-top: 2em;

    font-size: 1.2em;

    color: var(--secondary-clr);

    width: 20%;

    transition: var(--transition);

}

.back-button:hover{
    color: var(--secondary-clr);
    text-decoration: underline;

    text-underline-offset: 0.1em;

}

.back-button svg{
    width: 30px;

}

@media(min-width: 1024px){
    main{
        margin-bottom: 6em;

    }

    .back-button{
        width: 6%;

    }

    .product-img{
        padding: 2em;
        border-radius: var(--border-radius);

    }

    .product-img img{
        width: 500px;

    }

    .product-hero{
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 4em;   
        
    }

    .product-text{
        background: white;
        border-radius: 0px;

        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);

        padding-bottom: 3em;

        text-align: left;
        
    }

    .product-text small{
        border-bottom: 2px solid var(--primary-clr);
        padding-bottom: 2em;
        
    }

    .product-text h1{
        font-size: 2em;

    }
    
    .price{
        font-size: 2em;

    }

    .product-forms{
        margin-top: 0em;

        border-radius: 0px;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);

        width: 30vw;
        height: 270px;

    }
}